<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <h2>Test Modal</h2>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Exit click')">Exit</button>
  </div>
</ng-template>

<div class="container">
  <div class="row text-center" style="padding-bottom: 30px">
    <button class="btn btn-lg btn-outline-primary mt-5" (click)="open(content)">Launch Modal</button>
  </div>
</div>
<hr>

<pre>{{ closeResult }}</pre>